.EditPost {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    margin: 10px;
    border: 1px black solid;
    width: 80%;
    box-shadow: 3px 3px 1px #888888;
    box-sizing: border-box;
  }
  