.Post {
    border: black 1px solid;
    width: 50%;
    height: auto;
    text-align: center;
    word-wrap: normal;
    margin: 10px 5px;
    padding: 10px;
    box-shadow: 3px 3px 1px #888888;
}

.Delete {
    border: grey 1px solid;
    color: white;
    background-color: #743131;
    padding: 2px 5px;
    border-radius: 5px;
}